<div class="container h-100" role="main">


    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="row">
          <div class="col align-self-center">
            <h1 class="text-center">Morning Sunshine!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
            <img src="assets/images/morning.jpg" class="mx-auto d-block" alt="morning">
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="timezones">Timezones</label>
              </div>
              <select class="custom-select" id="timezones" #timezoneSelect (change)="selectTimezone(timezoneSelect.value)">
                <option selected>Choose...</option>
                <option *ngFor="let zone of timezones" [value]="zone">
                  {{zone}}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <h2>{{title}}</h2>
          </div>
        </div>
      </div>
    </div>

</div>

